/* Mobile Styles */
.homepage {
    padding: 10px;
    font-size: 14px;
  }
  
  /* Desktop Styles */
  @media (min-width: 1024px) {
    .homepage {
      padding: 20px;
      font-size: 18px;
    }
  }

body {
    color: white;
 }

 @font-face {
    font-family: 'AleoSans';
    src: url('/assets/fonts/AleofontSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'AleoSans', sans-serif;
}


