body {
    font-family:'AleoSans';
    line-height: 1.6;
    margin: 20px;
}

p {
    margin: 10px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}