## IDE Files
**/*.idea/

## Build Artifacts
**/node_modules
**/target
**/dist
storage*/
**/.next

## OS Files
**.DS_Store
**.*.DS_Store
rust/src/.DS_Store
rust/src/program/.DS_Store


# Local Netlify folder
.netlify

package-lock.json