## IDE Files
**/*.idea/

## Build Artifacts
**/node_modules
**/target
wasm/Cargo.lock
**/package-lock.json
**/build
**/dist
storage*/

## OS Files
**.DS_Store
**.*.DS_Store
rust/src/.DS_Store
rust/src/program/.DS_Store

