/*
 * Input (disabled) - Make box appear not disabled
 *
 * https://www.w3schools.com/cssref/pr_class_cursor.asp
 */
input[type="text"]:disabled {
    cursor: text;
}

@font-face {
    font-family: "AleoSans";
    src: url("../public/AleofontSans-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.headerDark {
    font-family: "AleoSans";
    color: white;
    font-size:32px;
    margin-left:2rem;
    a {
        color: white;
    }
}

.headerLight {
    font-family: "AleoSans";
    color: black;
    font-size:32px;
    margin-left:2rem;
    a{
        color: black;
    }
}