[package]
name = "sdk"
version = "0.3.1"
authors = ["The Aleo Team <hello@aleo.org>"]
description = "Aleo"
homepage = "https://aleo.org"
repository = "https://github.com/AleoHQ/aleo"
keywords = ["aleo", "cryptography", "blockchain", "decentralized", "zero-knowledge"]
categories = ["cryptography::cryptocurrencies", "operating-systems"]
include = ["Cargo.toml", "src", "README.md", "LICENSE.md"]
license = "GPL-3.0"
edition = "2018"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies.aleo-account]
path = "../rust/account"

[dependencies.anyhow]
version = "1.0"

[dependencies.getrandom]
version = "0.2"
features = ["js"]

[dependencies.hex]
version = "0.4.3"

[dependencies.rand]
version = "0.8"

[dependencies.serde_json]
version = "1.0"

[dependencies.wasm-bindgen]
version = "0.2"
features = [ "serde-serialize" ]

[dev-dependencies.wasm-bindgen-test]
version = "0.3.33"

[dependencies.console_error_panic_hook]
version = "0.1.7"
