name: Benchmark
on:
  push:
    branches:
      - main

jobs:
  benchmark:
    name: Check Performance Regression
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-bench-${{ hashFiles('**/Cargo.lock') }}

      - name: Benchmark
        run: |
          cargo +nightly bench | tee ../output.txt
          ls -la
          pwd
          cat output.txt

      - name: Store benchmark result
        uses: rhysd/github-action-benchmark@v1
        with:
          name: Aleo SDK Benchmarks
          tool: 'cargo'
          output-file-path: output.txt
          gh-pages-branch: 'benches'
          github-token: ${{ secrets.PAT_TOKEN }}
          auto-push: true
          alert-threshold: '150%'
          comment-on-alert: true
          fail-on-alert: true
          alert-comment-cc-users: '@howardwu'
